@import "../../assets/css/custom";
.mainLayout {
  gap: 12px;
  padding: 12px;
  min-height: 100vh;
  overflow-x: hidden;
}

.siteLayout {
  display: grid;
  grid-template-rows: 100px calc(100vh - 174px) 50px;
  .mainContent {
    overflow-x: hidden;
    position: relative;
    @include scroll(6px, 6px, transparent);
  }
}

