@import "../../assets/css/custom";
.adminLayout {
  gap: 12px;
  padding: 12px;
  min-height: 100vh;
  overflow: hidden;

  :global {
    .ant-card-head {
      position: sticky;
      top: 0;
      z-index: 1;
      background: #fff;
      .ant-card-extra {
        padding: 0;
      }
    }
  }
}

.adminSiteLayout {
  grid-template-rows: calc(100vh - 74px) 50px;
  display: grid;
  .adminMainContent {
    @include scroll(6px, 6px, transparent);
    overflow-x: hidden;
  }
}

.mainLayout {
  gap: 12px;
  padding: 12px;
  min-height: 100vh;
  overflow-x: hidden;
}

.siteLayout {
  display: grid;
  grid-template-rows: 100px calc(100vh - 174px) 50px;
  .mainContent {
    overflow-x: hidden;
    position: relative;
    @include scroll(6px, 6px, transparent);
  }
}

