.section {
  padding: 50px 0 25px 0;
  .title {
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
  }
  .sectionItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;
    .sectionItem {
      width: calc(50% - 20px);
      display: flex;
      align-items: center;

      .image {
      }
      .sectionContent {
        // padding-left:0 40px;
        padding-left:12px;
        display: flex;
        flex-direction: column;

        .sectionDesc {
          h4 {
            // text-align: center;
          }
        }
        .sectionTimeline {
          // max-width: 250px;
          // margin: 0 auto;
          li {
            font-size: 18px;
          }
          @media (max-width: 768px) {
            li {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    padding-right: 15px;
    padding-left: 15px;
    .sectionItems {
      .sectionItem {
        width: 100%;
      }
    }
  }
}
