.sectionItems {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // padding: 25px;
  @media (max-width: 768px) {
    // background-size: 700%;
  }
  .sectionItem {
    .contentStyle {
      height: 320px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // max-width: 80%;
      margin: 0 auto;
      .contentItems {
        padding: 20px;
        background: #fff;
        box-shadow: 0 10px 25px -20px #000;
        border-radius: 8px;
        h3 {
          font-size: 24px;
          font-weight: bold;
        }
        p {
          font-size: 20px;
          padding: 2px 12px;
          // font-weight: bold;
          margin: 0;
        }
        @media (max-width: 768px) {
          h3 {
            font-size: 20px;
            font-weight: bold;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
